<!DOCTYPE html>
<html lang="en" ng-app="myApp" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="vendors/angular.js"></script>
    <script src="scripts/client.js"></script> 
    <title>Angular Intro</title>
</head>
<body>
    <h1>Angular Intro</h1>
    <div ng-controller="WelcomeController as vm">
            {{vm.message}}
            <input ng-model="vm.message">
            <button ng-click="vm.greet()">Submit</button>
            <br>
            {{vm.newThing}}
            <br>
            <input ng-model="vm.newThing.name">
            <input ng-model="vm.newThing.happinessPoints">
            <button ng-click="vm.addNewThing()">Submit</button>
            <ul>
                <li ng-repeat="thingy in vm.favoriteThings">
                    {{thingy.name}} bring luke {{thingy.happinessPoints}} points
                </li>
            </ul>
    </div>
    {{7 + 7}}
</body>
</html>